@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/fonts/Roboto-Bold/Roboto-Bold.eot");
    src: url("../assets/fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"),
         url("../assets/fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"),
         url("../assets/fonts/Roboto-Bold/Roboto-Bold.ttf") format("ttf"),
         url("../assets/fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("../assets/fonts/Roboto-Medium/Roboto-Medium.eot");
    src: url("../assets/fonts/Roboto-Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/Roboto-Medium/Roboto-Medium.woff2") format("woff2"),
         url("../assets/fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"),
         url("../assets/fonts/Roboto-Medium/Roboto-Medium.ttf") format("ttf"),
         url("../assets/fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium") format("svg");
    font-style: normal;
    font-weight: normal;
}
