@use 'tailwindcss';
@use 'fonts';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: 'Roboto-Medium', 'sans-serif';
    color: #090909;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

